.toggle-checkbox:checked {
  right: 0;
  border-color: #3b82f6;
}

.toggle-checkbox:checked + .toggle-label {
  background-color: #3b82f6;
}

.toggle-checkbox {
  right: 0;
  transition: all 0.3s;
}

.toggle-label {
  transition: background-color 0.3s ease-in-out;
}
